* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgba(0, 0, 0, 0.65);
    font-size: 18px;
    line-height: 133.4%;
    letter-spacing: 0.1px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.8);
}

html,
body {
    width: 100%;
}

p.logo {
    font-family: "Playfair Display", serif;
    color: rgba(0, 0, 0, 0.85);
    font-size: 24px;
    line-height: 80px;
    font-weight: bold;
    letter-spacing: 0.7px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 8px;
}

nav ul li a {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}

nav {
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 10%;
}

header {
    width: 100%;
    margin: auto;
    display: flex;
}

.coderslandpage {
    left: 10%;
    width: 80%;
    margin: auto;
    padding-bottom: 5rem;
}

.coderspreviewimg {
    width: 100%;
    padding-top: 3rem;
}

.coderslandpage h1 {
    padding-top: 7rem;
    align-items: center;
}

.coderslandpage p {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    align-items: center;
    letter-spacing: 0.1px;
    margin-top: 1rem;
}


.widthnf {
    padding-top: 5rem;
    padding-bottom: 5rem;
    left: 10%;
    width: 80%;
    margin: auto;
}

.width {
    padding-top: 5rem;
    padding-bottom: 5rem;
    left: 10%;
    width: 80%;
    margin: auto;
    display: flex;
}

.widthnp {
    padding-bottom: 5rem;
    left: 10%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.under {
    background-color: #F7F7F7;
}

.under img {
    max-width: 100%;
}

.underright {
    justify-content: center;
    vertical-align: middle;
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 10%;
}

.right {
    justify-content: center;
    vertical-align: middle;
    width: 40%;
    margin-left: 10%;
}

.left {
    width: 40%;
    margin-right: 5%;
}

.overview p {
    padding-top: 2rem;
}

.timeline {
    background: #F7F7F7;
    ;
}

.timeline p {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.research p:nth-of-type(1) {
    padding-top: 2rem;
}

.research p:nth-of-type(2) {
    font-weight: 600;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.personas {
    background: #F7F7F7;
}

.personaspace {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.personas img {
    width: 45%;
}

.personas p {
    padding-top: 1rem;
}

.personaleft {
    justify-content: center;
    vertical-align: middle;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.personaright {
    justify-content: center;
    vertical-align: middle;
    width: 50%;
    margin-left: 10%;
}

.event p:nth-of-type(3) {
    font-weight: 600;
}

.event p {
    padding-top: 1.5rem;
}

.journey {
    background: #F7F7F7;
}

.journey img {
    padding-top: 2rem;
}

.journeyleft {
    width: 40%;
}

.journeyright {
    width: 55%;
    float: right;
    margin-left: 5%;
}

.mw {
    max-width: 100%;
}

.journey p:nth-of-type(1) {
    padding-top: 2rem;
}

.journey p:nth-of-type(2) {
    padding-top: 3rem;
    font-weight: 600;
}

.journey p:nth-of-type(3) {
    padding-top: 1rem;
}

.userflows img {
    padding-top: 1rem;
}

.userflows p:nth-of-type(1) {
    padding-top: 1rem;
}

.userflows p:nth-of-type(2) {
    padding-top: 4rem;
    font-weight: 600;
}

.userflows p:nth-of-type(3) {
    padding-top: 1rem;
}

.arch h1 {
    margin-left: 10%;
    padding-top: 5rem;
}

.arch {
    background: #F7F7F7;
}

.arch img {
    padding-top: 1rem;
}

.arch p:nth-of-type(1) {
    padding-top: 1rem;
}

.arch p:nth-of-type(2) {
    padding-top: 3rem;
    font-weight: 600;
}

.arch p:nth-of-type(3) {
    padding-top: 1rem;
}

.arch p:nth-of-type(4) {
    padding-top: 2rem;
}

.archleft {
    width: 40%;
}

.archright {
    width: 40%;
    float: right;
}

.design p:nth-of-type(1) {
    padding-top: 1rem;
    float: left;
    margin-right: 55%;
}


.design p:nth-of-type(2) {
    padding-top: 1rem;
    float: right;
    margin-left: 55%;
    padding-bottom: 1rem;
}


.design p:nth-of-type(3) {
    padding-top: 1rem;
    float: right;
}

.guide {
    background: #F7F7F7;
}

.guide p {
    padding-top: 2rem;
    margin-right: 55%;
}

.guide img {
    padding-top: 2rem;
}

.imgflex {
    display: flex;
    width: 100%;
    padding-top: 1.5rem;
}

.sketch img {
    width: 25%;
}

.sketch p {
    padding-top: 1rem;
    margin-right: 55%;
}

.usability {
    background: linear-gradient(180deg, #096DD9 0%, rgba(24, 144, 255, 0.604167) 38.02%, rgba(24, 144, 255, 0) 89.06%);
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.usability p:nth-last-child(1) {
    color: #086DD9;
    letter-spacing: 0.1px;
    font-size: 20px;
    line-height: 133.4%;
    letter-spacing: 0.1px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    padding-top: 4rem;
}


h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: white;
    padding-bottom: 2rem;
}

p1 {
    color: white;
    font-size: 18px;
    line-height: 133.4%;
    letter-spacing: 0.1px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
}

p2 {
    color: white;
    font-size: 24px;
    line-height: 133.4%;
    letter-spacing: 0.1px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
}


p4 {
    color: rgba(0, 0, 0, 0.65);
    font-size: 18px;
    line-height: 133.4%;
    letter-spacing: 0.1px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
}

p3 {
    color: rgba(0, 0, 0, 0.65);
    font-size: 24px;
    line-height: 133.4%;
    letter-spacing: 0.1px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
}

.wide p {
    color: white;
    font-size: 18px;
    line-height: 133.4%;
    letter-spacing: 0.1px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    padding-bottom: 5rem;
}

.gifs {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.gifs img {
    max-width: 100%;
}

.wide {
    width: 45%;
}


.seemore {
    background-color: #F7F7F7;
    padding-bottom: 5rem;
    padding-top: 5rem;
    width: 100%;
}

.seemore h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 133.4%;
    letter-spacing: 0.1px;
    text-align: center;
}

.more {
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;

}

.more img {
    width: 100%;
}

.footertext {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

.footertext p {
    font-size: 16px;
}