* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* header content */

header {
  width: 100%;
  margin: auto;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

nav {
  width: 80%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 10%;
  color: rgba(0, 0, 0, 0.75);
  z-index: 4;
}

.info {
  width: 80%;
  margin: auto;
}

.name {
  margin-top: 180px;
  font-size: 100px;
  color: rgba(0, 0, 0, 0.85);
}

.undername {
  margin-top: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.85);
}

p.logo {
  font-family: "Playfair Display", serif;
  color: rgba(0, 0, 0, 0.85);
  font-size: 24px;
  line-height: 80px;
  font-weight: bold;
  letter-spacing: 0.7px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 8px;
}

nav ul li a {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(0, 0, 0, 0.85);
}

/* Main content */
main {
  width: 100%;
}

.projects {
  width: 100%;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.project {
  position: relative;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.project:hover .middle {
  opacity: 1;
}

.project:hover img {
  transition: 0.5s ease;
  opacity: 0.4;
}

.project h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  align-items: center;
  letter-spacing: 0.1px;
  color: rgba(26, 24, 24, 0.87);
}

.notitle {
  padding-top: 7rem;
}

.project p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  align-items: center;
  letter-spacing: 0.1px;
}

.projects .project {
  width: 50%;
  height: 50%;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutme {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: linear-gradient(180deg, #af6595 0%, rgba(222, 195, 195, 0) 100%);
}

.layout {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.layout img {
  width: 290px;
  height: 290px;
}

.aboutImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.layout h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.87);
}

.text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  width: 65%;
}

.layout p:nth-child(1) {
  display: flex;
  text-align: center;
  letter-spacing: 0.15px;
  margin-bottom: 40px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
}

.layout p:nth-child(2) {
  display: flex;
  line-height: 150%;
  letter-spacing: 0.15px;
  margin-bottom: 16px;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
}

.layout p:nth-child(3) {
  line-height: 27px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.8);
}

.layout p:nth-child(4) {
  line-height: 150%;
  margin-top: 36px;
  letter-spacing: 0.15px;
  margin-bottom: 36px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
}

footer {
  padding-top: 10rem;
}

footer h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
}

.contact h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.15px;
  padding-top: 1rem;
}

.contact {
  display: flex;
  margin-left: 15%;
  width: 70%;
  justify-content: space-between;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.contact img {
  height: 50px;
  width: auto;
}

.contact p {
  margin-top: 12px;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(0, 0, 0, 0.65);
}

.bottomtext {
  font-family: " Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding-top: 10rem;
  text-align: center;
  padding-bottom: 2rem;
  color: rgba(0, 0, 0, 0.4);
}

.resume {
  display: flex;
  margin: auto;
  width: 60%;
  padding-top: 5rem;
  justify-content: space-between;
  background-color: transparent;
}

.resume button {
  color: #af6595;
  border: 3px solid #af6595;
  border-radius: 5px;
  background: -webkit-linear-gradient(30deg, transparent 50%, #af6595 50%);
  background: -linear-gradient(30deg, transparent 50%, #af6595 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  width: 170px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.46px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.resume button:hover {
  background-position: 100%;
  color: white;
  letter-spacing: 0.46px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

@media (max-width: 450px) {
  .name {
    font-size: 70px;
  }

  .projects {
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .projects .project {
    width: 100%;
    height: 35vh;
  }

  .resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    width: 100%;
  }

  .resume button {
    margin-top: 3rem;
  }
  .layout {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .text {
    width: 100%;
  }
  .aboutImage {
    display: flex;
    width: 100%;
    padding-bottom: 4rem;
  }

  .layout p:nth-child(1) {
    text-align: center;
  }

  .layout p:nth-child(2) {
    text-align: left;
  }

  .layout p:nth-child(3) {
    line-height: 27px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.8);
  }

  .layout p:nth-child(4) {
    line-height: 150%;
    margin-top: 36px;
    letter-spacing: 0.15px;
    margin-bottom: 36px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
  }
  .contact {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin: auto;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 5rem;
  }
  .contact img {
    margin-top: 4rem;
  }
  footer {
    padding-top: 5rem;
  }
  .bottomtext {
    padding-top: 5rem;
  }
}

.icon {
  display: none;
}

@media (max-width: 800px) {
  .icon {
    display: flex;
    align-items: center;
    color: black;
  }
  .navHeader {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }

  nav {
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }

  p.logo {
    font-size: 20px;
  }

  .responsive {
    display: flex;
    flex-direction: column;
  }

  nav ul {
    display: none;
    flex-direction: column;
    background-color: #333;
  }

  nav ul li {
    line-height: 40px;
    width: 80%;
    margin: auto;
  }

  nav ul li a {
    color: #fff;
  }
}
